<a href="https://colab.research.google.com/github/banduguide/URP_ML1/blob/master/capstone_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
### Importing packages      
import numpy as np                                                 # Implemennts milti-dimensional array and matrices
import pandas as pd                                                # For data manipulation and analys
### Import pandas_profiling
import matplotlib.pyplot as plt                                    # Plotting library for Python programming language and it's numerical mathematics extension NumPy
import seaborn as sns                                              # Provides a high level interface for drawing attractive and informative statistical graphics
%matplotlib inline
sns.set()
from subprocess import check_output

In [0]:
from __future__ import division, absolute_import, print_function

In [46]:
pip install MySQL-connector-python

Requirement already satisfied: MySQL-connector-python in /usr/local/lib/python3.6/dist-packages (8.0.19)
Requirement already satisfied: protobuf==3.6.1 in /usr/local/lib/python3.6/dist-packages (from MySQL-connector-python) (3.6.1)
Requirement already satisfied: dnspython==1.16.0 in /usr/local/lib/python3.6/dist-packages (from MySQL-connector-python) (1.16.0)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.6/dist-packages (from protobuf==3.6.1->MySQL-connector-python) (1.12.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf==3.6.1->MySQL-connector-python) (45.1.0)

In [49]:
config = {
  'user': 'student',
  'password': 'student',
  'host': 'cpanel.insaid.co',
  'database': 'Capstone1',
  'raise_on_warnings': True
}
cnx = MySQl.connector.connect(**config)
gender_age_train & phone_brand_device_model
cnx.close()

NameError: ignored

In [0]:
host =	'cpanel.insaid.co'
user =	'student'
passwd =	'student'
database ='Capstone1'

In [50]:
def doQury(conn):
  cur = conn.cusor()

print "Using MySQLdb…"
import MySQLdb
myConnection = MySQLdb.connect( host=hostname, user=username, passwd=password, db=database )
doQuery( myConnection )
myConnection.close()

print "Using pyMySQL…"
import pymysql
myConnection = pymysql.connect( host=hostname, user=username, passwd=password, db=database )
doQuery( myConnection )
myConnection.close()

print "Using MySQLconnector…"
import mysql.connector
myConnection = mysql.connector.connect( host=hostname, user=username, passwd=password, db=database )
doQuery( myConnection )
myConnection.close()

SyntaxError: ignored

In [42]:
import MySQL.connector

ModuleNotFoundError: ignored

In [41]:
cnx = MySQL.connector.connect(**config)
MySQL.connector_connect_gender_age_train
gender_age_train & phone_brand_device_model

NameError: ignored

In [0]:
### Importing the Dataset

candy_data = pd.read_csv("https://raw.githubusercontent.com/banduguide/URP_ML1/master/Candy_Data.csv")     # Importing training dataset using pd.read_csv